name: tests

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
  schedule:
  # Runs at 6:10am UTC on Monday
    - cron: '10 6 * * 1'


jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_manifest@v2

  test:
    needs: [linting, manifest]
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Run all supported Python versions on linux
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest]
        # Include one windows and one macos run
        include:
        - os: macos-latest
          python-version: "3.13"
        - os: windows-latest
          python-version: "3.13"

    steps:
      # checkout files, so the pooch cache can use hashFiles() in its key
      - uses: actions/checkout@v4

      # Cache test data to prevent repeated downloads
      - name: Cache pooch datasets
        uses: actions/cache@v4
        with:
          path: "~/.brainglobe/brainglobe-workflows/test-data"
          key: pooch-${{ runner.os }}-${{ hashFiles('./tests/fetch_test_data.py') }}
          enableCrossOsArchive: false
    
      # these libraries enable testing on Qt on linux
      - uses: pyvista/setup-headless-display-action@v3
        with:
          qt: true

      # Run tests
      - uses: neuroinformatics-unit/actions/test@v2
        if: ${{ ! startsWith(matrix.os, 'windows-') }}
        with:
          python-version: ${{ matrix.python-version }}

      # Run tests on napari main if this is a scheduled run
      - name: Run tests on napari main
        if: github.event_name == 'schedule'
        uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          tox-args: '-e napari-dev'

      - name: Set up Python ${{ matrix.python-version }} on Windows
        if: startsWith(matrix.os, 'windows-')
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install and run tox on Windows
        if: startsWith(matrix.os, 'windows-')
        shell: cmd
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
          tox

      - name: Notify slack on scheduled failure
        if: failure() && github.event_name == 'schedule'
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }} # required
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFYBOT_WEBHOOK_URL }} # required


  build_sdist_wheels:
    name: Build source distribution
    needs: [test]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
    - uses: neuroinformatics-unit/actions/build_sdist_wheels@v2


  upload_all:
    name: Publish build distributions
    needs: [build_sdist_wheels]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: artifact
        path: dist
    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.BTB_UPLOAD_API_KEY }}
